<!DOCTYPE html>
<html>

   <head>
      <style>
         body {
            margin: 0;
            padding: 50px;
         }

         table {
            font-family: arial, sans-serif;
            border-collapse: collapse;
            padding: 8px 10px;
            width: 100%;

         }

         td,
         th {
            border: 1px solid #dddddd;
            padding: 6px 6px 6px 0px;
            background-color: rgb(169, 169, 169);
            width: auto !important;
            font-weight: bold;
         }

         @media screen and (min-width: 600px) {
            table {
               width: 50% !important;
               height: auto !important;
               min-width: 200px !important;
            }
         }

      </style>
   </head>

   <body>
      <a href="http://www.trabin.com.br/">
         <img src="https://res.cloudinary.com/quotation-now/image/upload/v1570189494/trabin/TrabinLogo_edovf4.gif"
            alt="Auditoria" style="width:auto;height:auto;border:0;">
      </a>

      <h3>07/10/2019 16:30<br>Trabin Software - Auditoria
      </h3>

      <!--Tabela com as informações de monitoramento-->
      <table>
         <tr>

            <th style="text-align: center;"><b>Empresas(TI)</b></th>
            <td style="text-align: center;"><b>Auditoria(TI)</b></td>
            <td style="text-align: center;"><b>Parcelas(C)</b></td>
            <td style="text-align: center;"><b>Parcelas(E)</b></td>
            <td style="text-align: center;"><b>Parcelas(Q)</b></td>
            <td style="text-align: center;"><b>Pessoas</b></td>
            <td style="text-align: center;"><b>Produtos</b></td>
            <td style="text-align: center;"><b>Qtde Notas(Compras)</b></td>
            <td style="text-align: center;"><b>Qtde Notas(Fature)</b></td>
            <td style="text-align: center;"><b>Qtde Notas(Geral)</b></td>
            <td style="text-align: center;"><b>Qtde Notas(Pedido)</b></td>
         </tr>
         <tr>
            <td style="background-color: rgb(128, 128, 128);">Comercial L</td>
            <td style="text-align: right; background-color: rgb(128, 128, 128);">07/10/2019 12:00</td>
            <td style="text-align: right; background-color: rgb(128, 128, 128);">0</td>
            <td style="text-align: right; background-color: rgb(128, 128, 128);">7</td>
            <td style="text-align: right; background-color: rgb(128, 128, 128);">12</td>
            <td style="text-align: right; background-color: rgb(128, 128, 128);">0</td>
            <td style="text-align: right; background-color: rgb(128, 128, 128);">0</td>
            <td style="text-align: right; background-color: rgb(128, 128, 128);">0</td>
            <td style="text-align: right; background-color: rgb(128, 128, 128);">19</td>
            <td style="text-align: right; background-color: rgb(128, 128, 128);">33</td>
            <td style="text-align: right; background-color: rgb(128, 128, 128);">13</td>
         </tr>
         <tr>
            <td style="background-color: rgb(169, 169, 169);">Dutil M</td>
            <td style="text-align: right; background-color: rgb(169, 169, 169);">07/10/2019 14:22</td>
            <td style="text-align: right; background-color: rgb(169, 169, 169);">0</td>
            <td style="text-align: right; background-color: rgb(169, 169, 169);">0</td>
            <td style="text-align: right; background-color: rgb(169, 169, 169);">394</td>
            <td style="text-align: right; background-color: rgb(169, 169, 169);">0</td>
            <td style="text-align: right; background-color: rgb(169, 169, 169);">0</td>
            <td style="text-align: right; background-color: rgb(169, 169, 169);">1</td>
            <td style="text-align: right; background-color: rgb(169, 169, 169);">65</td>
            <td style="text-align: right; background-color: rgb(169, 169, 169);">90</td>
            <td style="text-align: right; background-color: rgb(169, 169, 169);">0</td>
         </tr>
         <tr>
            <td style="background-color: rgb(128, 128, 128);">Gotuzzo</td>
            <td style="text-align: right; background-color: rgb(128, 128, 128);">07/10/2019 12:00</td>
            <td style="text-align: right; background-color: rgb(128, 128, 128);">0</td>
            <td style="text-align: right; background-color: rgb(128, 128, 128);">1</td>
            <td style="text-align: right; background-color: rgb(128, 128, 128);">1</td>
            <td style="text-align: right; background-color: rgb(128, 128, 128);">1</td>
            <td style="text-align: right; background-color: rgb(128, 128, 128);">0</td>
            <td style="text-align: right; background-color: rgb(128, 128, 128);">0</td>
            <td style="text-align: right; background-color: rgb(128, 128, 128);">2</td>
            <td style="text-align: right; background-color: rgb(128, 128, 128);">3</td>
            <td style="text-align: right; background-color: rgb(128, 128, 128);">0</td>
         </tr>
         <tr>
            <td style="background-color: rgb(169, 169, 169);">Krause M</td>
            <td style="text-align: right; background-color: rgb(169, 169, 169);">07/10/2019 14:45</td>
            <td style="text-align: right; background-color: rgb(169, 169, 169);">0</td>
            <td style="text-align: right; background-color: rgb(169, 169, 169);">47</td>
            <td style="text-align: right; background-color: rgb(169, 169, 169);">111</td>
            <td style="text-align: right; background-color: rgb(169, 169, 169);">0</td>
            <td style="text-align: right; background-color: rgb(169, 169, 169);">119</td>
            <td style="text-align: right; background-color: rgb(169, 169, 169);">10</td>
            <td style="text-align: right; background-color: rgb(169, 169, 169);">60</td>
            <td style="text-align: right; background-color: rgb(169, 169, 169);">74</td>
            <td style="text-align: right; background-color: rgb(169, 169, 169);">2</td>
         </tr>
         <tr>
            <td style="background-color: rgb(128, 128, 128);">Krause XV</td>
            <td style="text-align: right; background-color: rgb(128, 128, 128);">07/10/2019 14:56</td>
            <td style="text-align: right; background-color: rgb(128, 128, 128);">0</td>
            <td style="text-align: right; background-color: rgb(128, 128, 128);">13</td>
            <td style="text-align: right; background-color: rgb(128, 128, 128);">26</td>
            <td style="text-align: right; background-color: rgb(128, 128, 128);">0</td>
            <td style="text-align: right; background-color: rgb(128, 128, 128);">0</td>
            <td style="text-align: right; background-color: rgb(128, 128, 128);">0</td>
            <td style="text-align: right; background-color: rgb(128, 128, 128);">13</td>
            <td style="text-align: right; background-color: rgb(128, 128, 128);">17</td>
            <td style="text-align: right; background-color: rgb(128, 128, 128);">3</td>
         </tr>
         <tr>
            <td style="background-color: rgb(169, 169, 169);">Lorenzet P</td>
            <td style="text-align: right; background-color: rgb(169, 169, 169);">07/10/2019 14:29</td>
            <td style="text-align: right; background-color: rgb(169, 169, 169);">0</td>
            <td style="text-align: right; background-color: rgb(169, 169, 169);">513</td>
            <td style="text-align: right; background-color: rgb(169, 169, 169);">230</td>
            <td style="text-align: right; background-color: rgb(169, 169, 169);">14</td>
            <td style="text-align: right; background-color: rgb(169, 169, 169);">0</td>
            <td style="text-align: right; background-color: rgb(169, 169, 169);">13</td>
            <td style="text-align: right; background-color: rgb(169, 169, 169);">444</td>
            <td style="text-align: right; background-color: rgb(169, 169, 169);">473</td>
            <td style="text-align: right; background-color: rgb(169, 169, 169);">12</td>
         </tr>
         <tr>
            <td style="background-color: rgb(128, 128, 128);">Lorenzet R</td>
            <td style="text-align: right; background-color: rgb(128, 128, 128);">07/10/2019 14:22</td>
            <td style="text-align: right; background-color: rgb(128, 128, 128);">4</td>
            <td style="text-align: right; background-color: rgb(128, 128, 128);">251</td>
            <td style="text-align: right; background-color: rgb(128, 128, 128);">108</td>
            <td style="text-align: right; background-color: rgb(128, 128, 128);">8</td>
            <td style="text-align: right; background-color: rgb(128, 128, 128);">0</td>
            <td style="text-align: right; background-color: rgb(128, 128, 128);">5</td>
            <td style="text-align: right; background-color: rgb(128, 128, 128);">226</td>
            <td style="text-align: right; background-color: rgb(128, 128, 128);">238</td>
            <td style="text-align: right; background-color: rgb(128, 128, 128);">6</td>
         </tr>
         <tr>
            <td style="background-color: rgb(169, 169, 169);">Tenda</td>
            <td style="text-align: right; background-color: rgb(169, 169, 169);">07/10/2019 12:00</td>
            <td style="text-align: right; background-color: rgb(169, 169, 169);">0</td>
            <td style="text-align: right; background-color: rgb(169, 169, 169);">3</td>
            <td style="text-align: right; background-color: rgb(169, 169, 169);">24</td>
            <td style="text-align: right; background-color: rgb(169, 169, 169);">1</td>
            <td style="text-align: right; background-color: rgb(169, 169, 169);">0</td>
            <td style="text-align: right; background-color: rgb(169, 169, 169);">0</td>
            <td style="text-align: right; background-color: rgb(169, 169, 169);">7</td>
            <td style="text-align: right; background-color: rgb(169, 169, 169);">7</td>
            <td style="text-align: right; background-color: rgb(169, 169, 169);">0</td>
         </tr>
         <tr>
            <td style="background-color: rgb(128, 128, 128);">Trabin</td>
            <td style="text-align: right; background-color: rgb(128, 128, 128);">07/10/2019 15:05</td>
            <td style="text-align: right; background-color: rgb(128, 128, 128);">0</td>
            <td style="text-align: right; background-color: rgb(128, 128, 128);">0</td>
            <td style="text-align: right; background-color: rgb(128, 128, 128);">0</td>
            <td style="text-align: right; background-color: rgb(128, 128, 128);">0</td>
            <td style="text-align: right; background-color: rgb(128, 128, 128);">0</td>
            <td style="text-align: right; background-color: rgb(128, 128, 128);">0</td>
            <td style="text-align: right; background-color: rgb(128, 128, 128);">0</td>
            <td style="text-align: right; background-color: rgb(128, 128, 128);">0</td>
            <td style="text-align: right; background-color: rgb(128, 128, 128);">0</td>

         </tr>

         <tr style="text-align: center;">
            <td colspan=91 style="background-color: rgb(128, 128, 128);">
               <small>
                  <div>© 2019 Copyright:
                     <a href=www.trabin.com.br style="color: rgb(46, 45, 45)">
                        Trabin Software & Consulting
                     </a>
                  </div>

                  <div>Tecnologias:
                     <a href="https://www.python.org/" style="color: rgb(46, 45, 45)">
                        Language Python -
                     </a>

                     <a href="https://www.elephantsql.com" style="color: rgb(46, 45, 45)">
                        PostgreSQL-ElephantSQL(AWS) -
                     </a>

                     <a href="https://cloudinary.com/" style="color: rgb(46, 45, 45)">
                        Cloudnay-Picture Platform(CLOUD) -
                     </a>

                  </div>
               </small>
            </td>
         </tr>

   </body>

</html>
